*.DS_*
node/node_modules/
node_modules/
doc/
client/assets/locales/*.json
client/assets/kiwi.js.map
client/assets/kiwi.min.js
client/assets/kiwi.min.js.map
client/index.html
kiwi.log
kiwiirc.pid
config.js